$colors: (
    1: rgb(228, 228, 210),
    2: #0b7601,
    3: rgb(43, 189, 38),
    4: rgb(152, 204, 147),
    5: rgb(70, 177, 56),
    error: #fb6f6f,
    blue: #61a1ea,
    success: #0fff00,
);

$colors-blue: (
    1: #132434,
    2: #013876,
    3: #267DBD,
    4: #93B7CC,
    5: #3893B1
);



$sizes: (
    s: 8px,
    m: 12px,
    l: 16px,
    xl: 24px,
    xxl: 36px,
    xxxl: 42px
);